:root {
    /* for dark theme */
    --background-dark: #121212;
    --text-dark: #0ac846;
    --caption-dark: #50cef8;
    --white: #ffffff;

    /* for light theme */
    --background-light: #acacacea;
    --text-light: #2e2e36;
    --caption-light: #090976;
}

body {
    font-family: 'Consolas', 'Courier New', monospace;
    color: var(--text-dark);
    background-color: var(--background-dark);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link {
    color: var(--text-dark);
    text-decoration: none;

}



.link:hover,
.link:focus {
    color: red;
}

.caption {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--caption-dark);
}

span {
    color: var(--white);
    animation: animate1 0.5s linear infinite;
    animation-delay: 0.3s;
}

@keyframes animate1 {
    0% {
        color: inherit;
    }

    100% {
        color: var(--white);
    }
}