header{
    background: $main-fill-color;
    width: 100%;
    // position: relative;
    // z-index: 2;
}
.header-container {
    max-width: 1680px;
    height: 112px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        margin-left: 0;
        width: 112px;
        img{
            width: 100%;
        }
    }
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;

    &-item{
        // width: 12.5%;
    }
    &-link{
        padding-left: 43px;
        padding-right: 5px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    &-link:hover{
        text-shadow: 0 0 4px #01a368, 0 0 4px #00FFA3, 0 0 4px #00FFA3;
        color: #00FFA3;
    }
    }

}
