@import url('./fonts.css');
@import url('./common.css');

:root {

  /* colors */
  --primary: #00FFA3;
  --background: #031923;
  --white: #ffffff;
  --border: #00D8A4 100 % #009470 100 %;


  /* fonts */
  --primary-font: 'Gilroy';
  --secondary-font: 'DotGothic16';

}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
  max-width: 1920px;

}

/* ----header-------------------------- */

.header {
  /* position: relative; */

  top: 0;
  width: 100%;
  height: 100%;

}

.header>.container {
  display: flex;
  background-color: var(--background);

  /* position: fixed;
  z-index: 100; */
  width: 100%;
  align-items: center;
}

.burger {
  display: none;
}

.menu {
  margin-left: auto;
}

.menu-list {
  display: flex;
}

.menu-item {}

.menu-item:not(:last-child) {
  margin-right: 48px;
}

.menu-link {
  display: block;
  padding-top: 45px;
  padding-bottom: 45px;


  font-weight: 500;
  font-size: 18px;
  line-height: 1.223;
}

.menu-link:hover,
.menu-link:focus {
  text-shadow: 0 0 5px var(--primary), 0 0 4px var(--primary), 0 0 6px var(--primary);
  color: var(--primary);
}

/* ----header-------------------------- */

/*! ----hero-------------------------- */
.hero {
  /* background-position: top 112 left 0; */

  background: linear-gradient(180deg, #031923 0%, rgba(0, 0, 0, 0) 8.39%, rgba(0, 0, 0, 0) 57.87%, #031923 65.16%, #031923 100%), radial-gradient(50% 50% at 50% 50%, rgba(3, 25, 35, 0.1) 0%, rgba(3, 25, 35, 0.4) 100%),
    /* url('../img/background-vector/hero-blur-vector.svg'),
    url('../img/background-vector/hero-dots-vector.svg'), */
    url('../img/hero.jpg') center/cover no-repeat;

}

.hero>.container {
  padding-top: 112px;
  padding-bottom: 38px;
}

.hero-title {
  margin-top: 527px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1233px;

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 58px;
  line-height: 1.448;
  letter-spacing: -0.25em;
  text-align: center;

}

.hero-subtitle {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 34px;

  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.176;

  max-width: 634px;
  text-align: center;
}

.hero-button {
  display: block;
  margin: 0 auto;

}

.button {
  padding: 17px 61px;

  background: linear-gradient(180deg, #00D8A4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;

  font-weight: 500;
  font-size: 22px;
  line-height: 1.182;
  color: var(--white);
  text-align: center;
  align-items: center;
}


/* ----hero-------------------------- */


/*!----carts-------------------------- */

.carts {}

.carts>.container {
  position: relative;

  background: url('../img/background-vector/carts-bg-vector.svg') center/cover no-repeat;
  padding-bottom: 70px;
}

.carts-title {

  text-align: left;

}

.section-title {

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 144px;
  line-height: 1.451;
  text-transform: capitalize;
  color: var(--white);
  opacity: 0.1;
}


.section-subtitle {

  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 58px;
  line-height: 1.556;
  text-transform: capitalize;
  letter-spacing: -0.25em;
}

.carts-subtitle {
  position: absolute;
  right: 120px;
  top: 61px;
  text-align: right;
}

.carts-subtitle span {
  text-align: right;

}

.section-subtitle span {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;

  letter-spacing: 0.25em;
  text-transform: lowercase;
  color: var(--white);
  opacity: 0.7;
}



.swiper {
  padding: 100px 0;
}

.swiper-wrapper {
  padding: 100px 0;
}

.swiper-slide .slide-inner {
  transition: 0.3s;
  transform: scale(1);
}

.swiper-slide-active .slide-inner {
  transform: scale(1.4);
  transition: 0.3s;
}

.swiper-slide .slide-inner .cart-model,
.swiper-slide .slide-inner .cart-caption {
  visibility: hidden;
}

.swiper-slide-active .slide-inner .cart-model,
.swiper-slide-active .slide-inner .cart-caption {
  visibility: inherit;
  display: block;
}

.image-slide {}

.text-wrapper {
  padding-right: 38px;
}

.title-slide {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.445;
  text-align: right;
  letter-spacing: -0.25em;

  transform: rotate(-1.41deg);
}

.cart-model {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.209;
  text-align: right;

}

.cart-caption {
  margin-bottom: 11px;

  max-width: 500px;
  font-weight: 400;
  font-size: 14px;
  line-height: 133%;
  text-align: right;
}

.swiper-button-prev,
.swiper-button-next {
  top: 90%;
  padding: 20px;
  color: #ffffff;
}



/* ----carts-------------------------- */

/*! ----booking-------------------------- */
.booking>.container {
  position: relative;
  background: linear-gradient(180deg, #031923 0%, rgba(3, 25, 35, 0.561921) 20.89%, rgba(3, 25, 35, 0.561921) 77.66%, #031923 100%),
    url('../img/booking-bg.jpg') center/cover no-repeat;

  padding-bottom: 180px;

}

.booking-title {
  text-align: right;
  margin-right: 7px;
}

.booking-subtitle {
  position: absolute;
  left: 120px;
  top: 52px;
}

.booking-text {
  max-width: 524px;

  font-weight: 400;
  font-size: 17px;
  line-height: 1.176;
}

.first {
  padding-top: 33px;
  padding-bottom: 23px;
}

.about-track {
  display: flex;
  margin-top: 31px;

}

.track-length,
.track-time {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.176;

  margin-right: 98px;
}

.mark-value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;

  text-transform: uppercase;
  color: var(--primary);
}

.btn-booking {
  display: block;
  margin: 0 auto;
}

/* ----booking-------------------------- */

/* !----features-------------------------- */

.features>.container {
  position: relative;
  padding-bottom: 64px;

  background: url('../img/background-vector/features-bg-vector.svg') center/cover no-repeat;
}

.features-title {
  text-align: left;
  margin-bottom: 49px;
}


.features-subtitle {
  position: absolute;
  top: 50px;
  right: 118px;
}


.features-list {

  display: flex;
  flex-wrap: wrap;
  row-gap: 46px;
  column-gap: 70px;
  padding-bottom: 85px;
}

.features-item {
  max-width: 513px;
}

.inner {
  display: flex;

  border: 2px solid #00D8A4;
  box-shadow: 8px 8px 72px rgba(0, 2, 7, 0.1);
  border-radius: 16px;
  padding: 37px 37px 45px 37px;
}

.icon-inner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 96px;
  border: 2px solid #00D8A4;
  filter: drop-shadow(6px 6px 17px rgba(3, 23, 32, 0.46));
  border-radius: 20px 4px;
}

.features-icon {}

.features-text-inner {
  margin-left: 25px;
  max-width: 315px;
}

.feature-item-title {
  margin-bottom: 21px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.208;
  color: var(--white);
}

.feature-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: var(--white);

  opacity: 0.5;
}

/* ---features-------------------------- */

/* !----contacts-------------------------- */
.contacts {
  position: relative;
  padding-bottom: 52px;
}

.contacts-title {
  text-align: right;
}

.contacts-subtitle {
  position: absolute;
  left: 120px;
  top: 77px;
}

.adress-block {
  font-style: normal;

}

.adress-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.167;
  color: var(--primary);
}

.adress-text {
  padding-top: 12px;
  padding-bottom: 12px;
}

.office-hours {
  padding-bottom: 12px;
}

.contacts-link {
  display: block;
  margin-bottom: 12px;

}

.btn-call {
  margin-top: 48px;
}



/* ----contacts-------------------------- */



/*!----footer-------------------------- */

.footer>.container {}

.footer-navigation {
  display: flex;
}

.footer-logo {
  margin-right: auto;
}

.footer-menu {
  margin-left: auto;
}

.menu-list {}

.menu-item {}

.menu-link {}

.footer-slogan {
  margin-top: 10px;
  margin-bottom: 27px;
  max-width: 435px;

  opacity: 0.6;
}

.footer-inner {
  display: flex;
  align-items: center;
}

.copyright {
  margin-right: auto;
  color: var(--primary);
}

.footer-social-list {
  display: flex;
  margin-left: auto;
}

.social-list-item:not(:last-child) {
  margin-right: 35px;
}

.social-link {

  border-radius: 15px;
}

.social-icon-inner {}

.social-icon {
  border-radius: 18px;
  fill: var(--primary);
}



/* ----footer-------------------------- */