:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #fff;
  --btn-standby:#747EEB;
}

body {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.navigation {
  background-color: var(--white);
}

.navigation-logo {
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: 0.03em;
}

.navigation-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.list {
  list-style: none;
}

.navigation-list {}

.navigation-item {}

.navigation-link {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dark);
}

.navigation-link:visited {
  color: var(--dark);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--primary-brand);
}

.contacts {}

.contacts-list {}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--text);
  font-style: normal;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-brand);
}

.hero {
  background-color: var(--dark);
}

.hero-block {}

.hero-caption {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn {
  background-color: var(--primary-brand);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
}

.features {
  background-color: var(--white);
}

.features-caption {}

.features-list {}

.features-item {}

.features-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.work {
  background-color: var(--white);
}

.work-caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.work-list {
  list-style: none;
}

.work-item {}


.team {
  background-color: var(--light);
}

.team-caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  
}

.team-item {
  background-color: #fff;
}

.team-person {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer {
  background-color: var(--dark);
}

.footer-logo {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-family: 'Raleway';
  font-weight: 800;
}

.footer-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.footer-slogan {
  color: var(--accent);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* portfolio page */

.filter-list {
  background-color: var(--white);
}

.button-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  color: var(--btn-standby);
  background-color: var(--light);

  align-items: center;
  text-align: center;

  cursor: pointer;
  /* 
  border: 1px solid var(--light);
  border-radius: 4px; */
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--white);
}

.products {
  background-color: var(--white);
}

.products-caption {}

.products-list {
  list-style: none;
}

.products-item {}

.products-item-link {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
}

.products-item-link:visited {
  color: var(--dark);
}

.products-item-link:hover,
.products-item-link:focus {
  color: var(--pressed-state);
}

.products-item-image {}

.products-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.products-item-desc {
  color: var(--text);
  line-height: 1.5;
}