:root {

  /*-------- COLORS */

  --primary-brand: #4d5ae5;
  /*IRIS */
  --pressed-state: #404bbf;
  /*OCEAN */
  --dark: #2e2f42;
  /*NAVY BLUE */
  --success: #31d0aa;
  /*GREEN */
  --text: #434455;
  /*SLATE */
  --subtle-text: #8e8f99;
  /*LIGHT SLATE */
  --accent: #e7e9fc;
  /*CORNFLOWER */
  --light: #f4f4fd;
  /*CLOUD*/
  --overlay: rgba(46, 47, 66, 0.4);
  /*NAVY BLUE MODAL*/
  --hero-background: rgba(46, 47, 66, 0.7);
  /*GREY*/
  --modal-bg: #fcfcfc;


  --white: #ffffff;
  --btn-standby: #747EEB;

  /* -------TIPOGRAPHY */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway';


  /* --------LAYOUT */
  --products-gap-vert: 48px;
  --products-gap-horiz: 24px;
  --products-columns: 3;

  /* --------transitsion */
  --time: 2250ms;
}

body {
  color: var(--text);
  font-family: var(--main-font);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  padding-bottom: 72px;
}

.header {
  border-bottom: 1px solid var(--accent);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  background-color: var(--white);

  display: flex;
  align-items: center;
}

.navigation-link,
.navigation-logo,
.contacts-link {
  /* display: block; */
  padding-top: 24px;
  padding-bottom: 28px;
}

.navigation-logo {
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--dark);
  font-family: var(--secondary-font);
  font-weight: 800;
  letter-spacing: 0.03em;

  margin-right: auto;
}

.navigation-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  margin-left: 76px;
}

.navigation-item {
  margin-right: 40px;
}

.navigation-link {
  position: relative;

  font-weight: 500;
  color: var(--dark);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}




.navigation .current {
  color: var(--pressed-state);
}

.navigation .current::after {
  content: '';
  background-color: var(--pressed-state);

  position: absolute;
  bottom: -2px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
}


.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-item:not(:last-child) {
  padding-right: 40px;
}

.contacts-link {
  color: var(--text);
  font-style: normal;
  text-decoration: none;

}

.navigation-link,
.contacts-link {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-brand);
}



/*---------- hero */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;

}

.hero-caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0;

  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.btn-main {
  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-brand);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition-property: background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-main:hover,
.btn-main:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*---------- features */
.features {
  background-color: var(--white);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 3*24px)/4);
}

.features-icon-container {
  background-color: var(--light);

  border-radius: 4px;

  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}

.features-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;

}

.features-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  padding-bottom: 8px;
}

.features-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------work */

.work {
  background-color: var(--white);
  padding-top: 0;
}


.work-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.work-item {
  display: inline-block;
  line-height: 0;
}

.work-item:not(:last-child) {
  margin-right: 24px;
}

/* --------------team */

.team {
  background-color: var(--light);
}


.team-list {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  line-height: 0;
}

.team-item-img {
  display: inline-block;
}

.team-item-text {
  padding: 32px 16px;
}

.team-person {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  padding-bottom: 8px;
}

.team-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-item {
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);

  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.team-icon {
  fill: var(--light);

  width: 16px;
  height: 16px;
}


.team-social-link {
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover {
  background-color: var(--pressed-state);
}


/*-------------- clients section  */


.clients>.container {
  padding-top: 10px;
}

.clients-list {
  display: flex;
  gap: 24px;
}


.clients-item {
  flex-basis: calc((100% - 5*24px)/6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--pressed-state);
}

.clients-logo {
  fill: var(--subtle-text);

  width: 104px;
  height: 56px;

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  fill: var(--pressed-state);
}






.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-wrapper {
  display: flex;

}

.footer-logo-inner {
  max-width: 264px;

}

.footer-logo {
  color: var(--light);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.footer-slogan {
  color: var(--accent);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 16px;
}

.footer-social-inner {
  margin-left: 120px;

  width: 208px;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}


.footer-social-item {
  flex-basis: calc(100%-3*16px)/4;
}

.footer-social-link {
  background-color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;


  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-logo {
  fill: var(--light);
  width: 24px;
  height: 24px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

/* ------------modal window */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  background: rgba(46, 47, 66, 0.4);
}

.modal {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);

  width: 408px;
  height: 576px;

  background-color: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 24px;
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: background-color, border-color;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn-icon {
  fill: black;

  width: 8px;
  height: 8px;

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.modal-close-btn:hover .modal-close-btn-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ------------portfolio page */

.products {
  padding-top: 96px;
}

.filter-list {
  background-color: var(--white);

  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.button-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  color: var(--btn-standby);
  background-color: var(--light);

  align-items: center;
  text-align: center;

  cursor: pointer;

  border: 1px solid var(--light);
  border-radius: 4px;
  padding: 12px 24px;

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--white);
  border-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}

.products {
  background-color: var(--white);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1*var(--products-gap-vert));
  margin-left: calc(-1*var(--products-gap-horiz));
}

.products-item {
  flex-basis: calc(100% /var(--products-columns) - var(--products-gap-horiz));
  margin-top: var(--products-gap-vert);
  margin-left: var(--products-gap-horiz);

}

.products-item-link {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
}

.products-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.products-card>.products-item-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.products-card {
  position: relative;
}



.products-card::before {
  content: '';
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);

  opacity: 0;
}

.products-subtext {
  color: var(--light);
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;

  position: absolute;
  top: 0;
  opacity: 0;

  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
}

.products-item:hover .products-card::before {
  opacity: 1;
}

.products-item:hover .products-subtext {
  opacity: 1;
}


.products-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.products-item-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.products-item-desc {
  color: var(--text);
  line-height: 1.5;
  margin-top: 8px;
}