:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #fff;
  --btn-standby: #747EEB;
}

body {
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}


.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  border-bottom: 1px solid var(--accent);
}

.navigation {
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.navigation-logo {
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: 0.03em;

  margin-right: 76px;
}

.navigation-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}

.navigation-item {

  /* display: block; */
  margin-right: 40px;
}

.navigation-link {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dark);

}

.navigation-link:visited {
  color: var(--dark);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--primary-brand);
}

.contacts {}

.contacts-list {
  display: flex;
  justify-content: space-between;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.contacts-item:not(:last-child) {
  padding-right: 40px;
}

.contacts-link {
  color: var(--text);
  font-style: normal;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-brand);
}

/*---------- hero */

.hero {
  background-color: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  padding-bottom: 48px;
}

.btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-brand);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 0;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
}

.btn:hover,
.btn:focus {
  background-color: var(--pressed-state);
}


/*---------- hero */
.features {
  background-color: var(--white);
}

.features-caption {}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {}

.features-item:not(:last-child) {
  padding-right: 24px;
}

.features-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);

  padding-bottom: 8px;
}

.features-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------work */

.work {
  background-color: var(--white);
  padding-top: 0;
}

.work-caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  padding-bottom: 72px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}

.work-item {
  display: block;
}

.work-item:not(:last-child) {
  margin-right: 24px;
}

/* --------------team */

.team {
  background-color: var(--light);
}

.team-caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  padding-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;

  margin: 0 15px;

}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}

.team-person {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  padding-top: 32px;
  padding-bottom: 8px;
}

.team-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  padding-bottom: 32px;
}

.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--light);
  font-family: 'Raleway';
  font-weight: 800;


}

.footer-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.footer-slogan {
  color: var(--accent);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 16px;
  width: 264px;
}



/* portfolio page */

.filter-list {
  background-color: var(--white);
}

.button-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  color: var(--btn-standby);
  background-color: var(--light);

  align-items: center;
  text-align: center;

  cursor: pointer;
  /* 
  border: 1px solid var(--light);
  border-radius: 4px; */
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--pressed-state);
  color: var(--white);
}

.products {
  background-color: var(--white);
}

.products-caption {}

.products-list {
  list-style: none;
}

.products-item {}

.products-item-link {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
}

.products-item-link:visited {
  color: var(--dark);
}

.products-item-link:hover,
.products-item-link:focus {
  color: var(--pressed-state);
}

.products-item-image {}

.products-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.products-item-desc {
  color: var(--text);
  line-height: 1.5;
}