:root {

  /*-------- COLORS */

  --primary-brand: #4d5ae5;
  /*IRIS */
  --pressed-state: #404bbf;
  /*OCEAN */
  --dark: #2e2f42;
  /*NAVY BLUE */
  --success: #31d0aa;
  /*GREEN */
  --text: #434455;
  /*SLATE */
  --subtle-text: #8e8f99;
  /*LIGHT SLATE */
  --accent: #e7e9fc;
  /*CORNFLOWER */
  --light: #f4f4fd;
  /*CLOUD*/
  --overlay: rgba(46, 47, 66, 0.4);
  /*NAVY BLUE MODAL*/
  --hero-background: rgba(46, 47, 66, 0.7);
  /*GREY*/
  --modal-bg: #fcfcfc;


  --white: #ffffff;
  --btn-standby: #747EEB;

  /* -------TIPOGRAPHY */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway';


  /* --------LAYOUT */
  --products-gap-vert: 48px;
  --products-gap-horiz: 24px;
  --products-columns: 3;

  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;

  /* --------transitsion */
  --time: 1250ms;
  --trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--text);
  font-family: var(--main-font), sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}


.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.caption {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.header {
  border-bottom: 1px solid var(--accent);
}


.header>.container {
  display: flex;

}

.navigation {
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.navigation-logo {
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--dark);
  font-family: var(--secondary-font);
  font-weight: 800;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.hamburger-btn {
  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;


  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hamburger-icon {
  fill: var(--dark);
}

.navigation-list {
  display: none;
}

.contacts {
  display: none;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--white);

  padding: 40px;
}

.mobile-menu.is-open {
  display: block;
}

.mobile.social {
  display: none;
}

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  max-width: 1440px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}

/*---------- hero */
.hero-caption {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-weight: 700;
  color: var(--white);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.btn-main {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;


  background-color: var(--primary-brand);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.btn-main:hover,
.btn-main:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---------- features */
.features {
  background-color: var(--white);
}

.features-item:not(:last-child) {
  margin-bottom: 72px;
}

.features-icon-container {
  display: none;
}

.features-item-caption {

  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);

  margin-bottom: 8px;
}

.features-item-desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/*---------------- work */
.work {
  display: none;
}

/*---------------- team */

.team {
  background-color: var(--light);
}


.team-list {}

.team-item {
  width: 264px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  line-height: 0;
}

.team-item:not(:last-child) {
  margin-bottom: 72px;

}

.team-item-img {
  margin: 0 auto;
}

.team-item-text {

  padding: 32px 15px;
}

.team-person {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;

  padding-bottom: 8px;
}

.team-job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-item {
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);

  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.team-icon {
  fill: var(--light);

  width: 16px;
  height: 16px;
}


.team-social-link {
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.team-social-link:hover {
  background-color: var(--pressed-state);
}

/*-------------- clients section  */


.clients-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}


.clients-item {
  flex-basis: calc((100% - 1*16px)/2);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 88px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--pressed-state);
}

.clients-logo {
  fill: var(--subtle-text);

  width: 104px;
  height: 56px;

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

/*--------------- footer */

.footer {
  background-color: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

}

.footer-logo-inner {
  margin: 0 auto;

  max-width: 268px;
  margin-bottom: 72px;

}

.footer-logo {
  display: block;
  text-align: center;


  color: var(--light);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo>.logo-primary-brand {
  color: var(--primary-brand);
}

.footer-slogan {
  color: var(--accent);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 16px;
}

.footer-social-inner {
  width: 208px;

  margin: 0 auto;
  margin-bottom: 72px;
}

.footer-title {
  /* display: block; */
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  flex-basis: calc(100%-3*16px)/4;
}

.footer-social-link {
  background-color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;


  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.footer-social-logo {
  fill: var(--light);
  width: 24px;
  height: 24px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-subscribe-inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.label-subscribe {
  /* max-width: 396px; */
}

#input-subscribe {
  display: block;
  /* margin-right: 24px; */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  width: 100%;

  height: 40px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  transition-property: background-color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

#input-subscribe:hover,
#input-subscribe:focus {
  background-color: var(--white);
  border-color: var(--primary-brand);
  color: var(--dark);
}

.subscribe-btn {
  margin-top: 16px;

  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;

  /* width: 165px; */
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);

  transition-property: background-color,
    box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.subscribe-btn-logo {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 16px;

  fill: var(--white);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ------------modal window */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--time) var(--trans-time-func);
}

.overlay.is-hidden>.modal {
  transform: translateX(-50%) scale(0);
}

.modal {
  position: absolute;

  /* top: 96px;
  left: 50%;
  transform: translateX(-50%);
  width: 392px; */

  top: 96px;
  margin-left: 18px;
  margin-right: 18px;
  width: calc(100%-18px);

  height: 586px;
  transform: translateX(0%) scaleX(1);

  background-color: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 24px;
  transition: transform var(--time) var(--trans-time-func);
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: background-color, border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}


.modal-close-btn-icon {
  fill: black;

  width: 8px;
  height: 8px;

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}

.modal-close-btn:hover {
  background-color: var(--pressed-state);
  border-color: var(--pressed-state);
}

.modal-close-btn:hover .modal-close-btn-icon {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* ------------modal form */

.main-form-header {
  margin-top: 48px;
  margin-bottom: 16px;
  max-width: 360px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--dark);
}

.main-form {
  margin: 0 auto;
  padding-bottom: 24px;
  width: 100%;

}

.main-form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 8px;
}

.main-form-field label {
  margin-bottom: 4px;

  color: var(--subtle-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.form-input-inner {
  position: relative;

}

.main-form-field input {
  margin: 0 auto;
  padding: 8px 16px;
  padding-left: 38px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time) var(--trans-time-func);
}

.main-form-field input:focus {
  outline: none;
  border-color: var(--primary-brand);
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;

  width: 18px;
  height: 24px;

  fill: var(--dark);
  transition: fill var(--time) var(--trans-time-func);
}

.main-form-field input:focus+.form-icon {
  fill: var(--primary-brand);
}

#client-comment {
  resize: none;
  max-width: 360px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  border-radius: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);

  transition: border-color var(--time) var(--trans-time-func);
}

#client-comment:focus {
  outline: none;
  border-color: var(--primary-brand);
}

#client-comment::placeholder {
  color: var(--subtle-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

}


.main-form-field.privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.privacy .conditions {
  width: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
}

.main-form-field .label-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #757575;
  margin-bottom: auto;
}

.pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1.25px solid var(--dark);
  border-radius: 2px;
  cursor: pointer;

  fill: transparent;

  transition: background-color var(--time) var(--trans-time-func),
    border-color var(--time) var(--trans-time-func),
    fill var(--time) var(--trans-time-func);
}

.form-checkbox {
  position: absolute;
  display: inline-block;

  width: 10px;
  height: 8px;
}

.conditions:checked+.pseudo-checkbox {
  background-color: var(--pressed-state);
  border-color: transparent;
  fill: var(--light);
}

.conditions-link {
  color: var(--primary-brand);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  cursor: pointer;
}




.main-send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;

  width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color,
    box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--trans-time-func);
}


/*---------------- MOBILE */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }










}